.stories {
  margin: 0;

  li {
    background: #FFF;
    border-bottom: solid 1px #e3e3e3;
    padding: 5px;
    position: relative;

    .main {
      margin-right: 0.5em;
      margin-left: 2em;
      position: relative;

      > div {
        display: inline;
      }
    }

    p {
      display: inline;
      margin: 0;
    }

    li {
      background: none;
      border: solid 1px #333;
      border-radius: 3px;
      font-size: .7em;
      margin-right: 3px;
      padding: .1em .4em;
    }

    .owners {
      display: inline;
      margin: 0 0 0 5px;

      li {
        border: solid 1px #333;
        color: #333;
        display: inline-block;
      }
    }

    .tasks {
      float: right;
      font-size: 0.7em;
      line-height: 2.2em;
      margin: 0 0.25em;

      span {
        margin-left: 0.2em;
      }
    }

    .labels {
      float: right;
      margin: 0.125em 0.25em;

      li {
        background: darken(primary-color, 10%);
        border-color: darken(primary-color, 10%);
        color: #FFF;
        float: right;
      }
    }

    .state-meter {
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.unscheduled,
    &.unstarted {
      background: #e3e3e3;
      border-color: #c7c7c7;

      .state-meter {
        display: none;
      }
    }

    statemeter(color, width) {
      padding-top: 10px;

      .state-meter {
        background: color;
        width: width;
      }
    }

    &.started {
      statemeter(#C78719, 25%);
    }

    &.finished {
      statemeter(#0F516B, 50%);
    }

    &.delivered {
      statemeter(#7F3D99, 75%);
    }

    &.rejected {
      statemeter(error-color, 50%);
    }

    &.accepted {
      statemeter(success-color, 100%);
    }

    .story-type {
      float: left;
      font-size: 1.2em;
      margin: 0.125em;
      position: relative;
    }

    &.feature .story-type {
      color: action-color;
      font-size: 1.7em;
      margin: 0;
      text-align: center;
    }

    .estimate {
      color: #FFF;
      font-size: .5em;
      line-height: 1.9em;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: center;
    }

    &.chore .story-type {
      color: #939393;
    }

    &.bug .story-type {
      color: darken(error-color, 20%);
    }

    &.release {
      background: primary-color;
      border-color: darken(primary-color, 10%);
      color: #FFF;

      .main {
        margin: 0 0.75em 0 2em;
      }

      .story-type {
        float: left;
      }

      .state-meter {
        display: none;
      }
    }
  }
}
