.settings {
  background: #f8f8f8;
  border-left: solid 5px #929292;
  border-bottom: solid 5px #929292;
  border-bottom-left-radius: 3px;
  display: none;
  font-size: 20px;
  margin: 0;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  .open & {
    display: block;
  }

  .single-select {
    display: inline-block;
  }

  fieldset {
    @include clearfix;
    margin-bottom: 10px;
    position: relative;
  }

  label {
    color: #757575;
    margin-right: 5px;
    text-align: right;
  }

  .project-picker label {
    float: left;
    height: 2em;
    line-height: 2em;
    margin-right: 10px;
  }

  .suffix {
    color: #757575;
  }

  input {
    width: 3em;
  }

  button {
    float: right;
    margin-top: 10px;
  }
}

.base-font-size {
  p {
    color: #999;
    display: none;
    font-size: .9em;
    font-style: italic;
  }

  .font-size-overridden & {
    input,
    span {
      display: none;
    }

    p {
      display: inline-block;
    }
  }
}
