@-webkit-keyframes flashwarning {
  0% {
    background-color: #B61818;
  }
  0.5% {
    background-color: #F10E0E;
  }
  1% {
    background-color: #B61818;
  }
  1.5% {
    background-color: #F10E0E;
  }
  2% {
    background-color: #B61818;
  }
  2.5% {
    background-color: #F10E0E;
  }
  3% {
    background-color: #B61818;
  }
  3.5% {
    background-color: #F10E0E;
  }
  4% {
    background-color: #B61818;
  }
  100% {
    background-color: #B61818;
  }
}

.banner {
  -webkit-animation: flashwarning 300s infinite;
  animation: flashwarning 300s infinite;
  background-color: error-color;
  color: #FFF;
  display: none;
  font-size: 1.2em;
  padding: 15px;
  text-align: center;

  &.show {
    display: block;
  }
}
