@-webkit-keyframes flashwarning {
  0% {
    background-color: darken(error-color, 30%);
  }
  0.5% {
    background-color: error-color;
  }
  1% {
    background-color: darken(error-color, 30%);
  }
  1.5% {
    background-color: error-color;
  }
  2% {
    background-color: darken(error-color, 30%);
  }
  2.5% {
    background-color: error-color;
  }
  3% {
    background-color: darken(error-color, 30%);
  }
  100% {
    background-color: darken(error-color, 30%);
  }
}

stat(color) {
  background: darken(color, 30%);
  border-color: color;
}

.stats {
  clearfix();
  display: flex;

  div {
    border: solid .3em;
    box-sizing: border-box;
    color: #f8f8f8;
    flex-grow: 1;
    padding: .4em 0;
    position: relative;
    text-align: center;
  }

  .velocity {
    stat(#7F3D99);

    i {
      transform: rotate(-45deg);
    }
  }

  .stories-in-progress {
    stat(action-color);
  }

  .points-in-progress {
    stat(#D8D33B);
  }

  .warning {
    -webkit-animation: flashwarning 300s infinite;
    animation: flashwarning 300s infinite;
    stat(error-color);
  }

  .backlog {
    stat(success-color);
  }

  .icebox {
    stat(primary-color);
  }

  p {
    color: #FFF;
    font-size: .5em;
    line-height: .8;
    margin: 0;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
    right: 2px;
  }

  i {
    font-size: .9em;
    opacity: 0.6;
  }

  span {
    margin-left: 0.5em;
  }
}
