@-webkit-keyframes flashwarning {
  0% {
    background-color: darken(error-color, 30%);
  }
  0.5% {
    background-color: error-color;
  }
  1% {
    background-color: darken(error-color, 30%);
  }
  1.5% {
    background-color: error-color;
  }
  2% {
    background-color: darken(error-color, 30%);
  }
  2.5% {
    background-color: error-color;
  }
  3% {
    background-color: darken(error-color, 30%);
  }
  100% {
    background-color: darken(error-color, 30%);
  }
}

stat(color) {
  i {
    color: lighten(color, 40%);
  }
}

.stats {
  background: #111;
  border: solid 0.2em #555;
  display: flex;
  padding: 0 0.4em;
  text-align: center;

  div {
    background: #111;
    box-sizing: border-box;
    color: #f8f8f8;
    float: left;
    flex-grow: 1;
    padding: 0.4em 0;
    position: relative;
  }

  .velocity {
    stat(#7F3D99);

    i {
      transform: rotate(-45deg);
    }
  }

  .stories-in-progress {
    stat(action-color);
  }

  .points-in-progress {
    stat(action-color);
  }

  .warning {
    -webkit-animation: flashwarning 300s infinite;
    animation: flashwarning 300s infinite;
    stat(error-color);
  }

  .backlog {
    stat(success-color);
  }

  .icebox {
    stat(primary-color);
  }

  p {
    color: #FFF;
    display: inline;
    font-size: 0.5em;
    margin: 0;
    margin-left: 0.4em;
    opacity: 0.4;
  }

  i {
    font-size: 0.9em;
    opacity: 0.6;
  }

  span {
    margin-left: 0.3em;
  }
}

@media only screen and (max-width: 72em) {
  .stats {
    div {
      padding: 0.2em 0 0.6em;
    }

    p {
      display: block;
      line-height: .8;
      position: absolute;
      bottom: 0.2em;
      width: 100%;
    }
  }
}
