@-webkit-keyframes flashwarning {
  0% {
    background-color: darken(error-color, 30%);
  }
  2% {
    background-color: error-color;
  }
  4% {
    background-color: darken(error-color, 30%);
  }
  6% {
    background-color: error-color;
  }
  8% {
    background-color: darken(error-color, 30%);
  }
  10% {
    background-color: error-color;
  }
  12% {
    background-color: darken(error-color, 30%);
  }
  100% {
    background-color: darken(error-color, 30%);
  }
}

stat(color) {
  i {
    color: color;
  }
}

.stats {
  background: #111;
  display: flex;
  font-size: 1.2em;
  padding: 0 0.4em;
  text-align: center;

  div {
    background: #111;
    box-sizing: border-box;
    color: #f8f8f8;
    float: left;
    flex-grow: 1;
    padding: 0.4em 0;
    position: relative;
  }

  .velocity {
    stat(#AA62C7);

    i {
      transform: translate(3px, -3px) rotate(-45deg);
    }
  }

  .stories-in-progress {
    stat(#E7953E);
  }

  .points-in-progress {
    stat(#E0D263);
  }

  .warning {
    -webkit-animation: flashwarning 60s infinite;
    animation: flashwarning 60s infinite;
    stat(error-color);

    i {
      color: #FFF;
      opacity: 0.6;
    }

    p {
      opacity: 0.6;
    }
  }

  .backlog {
    stat(#9AC54F);
  }

  .icebox {
    stat(#99BEE0);
  }

  p {
    color: #FFF;
    display: inline;
    font-size: 0.5em;
    margin: 0;
    margin-left: 0.4em;
    opacity: 0.4;
  }

  i {
    font-size: 0.9em;
  }

  span {
    margin-left: 0.3em;
  }
}

@media only screen and (max-width: 84em) {
  .stats {
    div {
      padding: 0.2em 0 0.6em;
    }

    p {
      display: block;
      line-height: .8;
      position: absolute;
      bottom: 0.2em;
      width: 100%;
    }
  }
}
